<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information Lookup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
    <div class="container">
        <h1>Stock Information Lookup</h1>
        <form action="/stock-info" method="post">
            <div class="form-group">
                <label for="stockSymbol">Stock Symbol:</label>
                <input type="text" id="stockSymbol" name="stockSymbol" required placeholder="Enter Stock Symbol">
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>