<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
    <h1>Stock Information</h1>
    <form action="/stock-info" method="post">
        <label for="stockSymbol">Stock Symbol:</label>
        <input type="text" id="stockSymbol" name="stockSymbol" required>
        <button type="submit">Submit</button>
    </form>
    <div>
        <h2>{{ data.overview['Name'] }} ({{ data.overview['Symbol'] }})</h2>
        <p><strong>Sector:</strong> {{ data.overview['Sector'] }}</p >
        <p><strong>Industry:</strong> {{ data.overview['Industry'] }}</p >
        <p><strong>Market Capitalization:</strong> {{ data.overview['MarketCapitalization'] }}</p >
        <p><strong>PE Ratio:</strong> {{ data.overview['PERatio'] }}</p >
        <p><strong>EPS:</strong> {{ data.overview['EPS'] }}</p >
        <p><strong>Dividend Yield:</strong> {{ data.overview['DividendYield'] }}</p >
        <p><strong>Exchange:</strong> {{ data.overview['Exchange'] }}</p >
    </div>
    <div>
        <h3>Current Stock Data</h3>
        <p><strong>Current Price:</strong> {{ data.quote['05. price'] }}</p >
        <p><strong>Previous Close:</strong> {{ data.quote['08. previous close'] }}</p >
        <p><strong>Open:</strong> {{ data.quote['02. open'] }}</p >
        <p><strong>Volume:</strong> {{ data.quote['06. volume'] }}</p >
    </div>
    <div>
        <h3>Recent News</h3>
        <ul>
            {% for news_item in data.news %}
                <li>
                    <a href=" " target="_blank">{{ news_item.title }}</a >
                    <p>{{ news_item.summary }}</p >
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/chart-init.js') }}"></script> 
</body>
</html>