body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container, .stock-details p, .recent-news li {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    margin-bottom: 20px;
}

/* Header styling */
header h1 {
    color: #333;
    text-align: center;
}

.search-form form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input[type="text"], .search-form button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px; 
}

/* Button styling */
.search-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.stock-details h2, .recent-news h3 {
    color: #007bff;
}

.recent-news ul {
    list-style: none;
    padding: 0;
}

.recent-news a {
    color: #007bff;
    text-decoration: none;
}

.recent-news a:hover {
    text-decoration: underline;
}